body {
    background-color: white;
    text-align: center;
}

header {
    text-align: left;
}

#header-img {
    width: 25px;
    display: inline-block;
}

#header {
    display: inline-block;
}

main {
    max-width: 900px;
    margin: auto;
    text-align: center;
}

#feature-overview {
    flex-wrap: wrap;
}

#description {
    font-size: 40px;
    font-weight: 100; 
    text-align: center;
}

.feature-img {
    width: 100%;
}

section {
    margin-bottom: 20px;
    margin-top: 20px;
}

.feature-row {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

h2 {
    text-align: center;
}

.row-left {
    text-align: left;
    width: 50%;
    min-width: 300px;
    padding-right: 5px;
}

.row-right {
    width: 50%;
    min-width: 300px;
    padding-left: 5px;
}

#pricing {
}

#contact {
    text-align: center;
    width: 100%;
}

#form {
    margin: auto;
    text-align: left;
    width: 300px;
}

#name, #email, #message, #button-area {
    width: 300px;
    margin-top: 5px;
    margin-bottom: 10px;
}

legend {
    text-align: center;
    margin-bottom: 5px;
}

#button-area {
    text-align: center;
}

#submit {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background-color: yellow;
    font-weight: bold;
    font-size: 14px;
}

footer {
    width: 100%;
    text-align: right;
}

.footer {
    margin: 10px;
    display: inline-block;
}

@media (max-width: 620px){
    .feature-row {
        flex-wrap: wrap;
    }

    .row-left {
        width: 100%;
    }

    .row-right {
        width: 100%;
    }
}
