/* Add Open Sans from the Google Fonts Libary */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Include the padding and border in an element's total witdth and height. */
* {
    box-sizing: border-box;
}


/* Set the background and font for the page */
body {
    background-color: white;
    font-family: "Open Sans", sans-serif;
}

/* 
    Set up the page header.  This includes the header, the logo, the h1 that is the product name, and the nav-bar. 
*/
header {
    text-align: center;
    background-color: white;
}

/* Set the logo and the product name in the h1 to display side by side.  */
#header-img {
    width: 25px;
    display: inline-block;
}

h1 {
    display: inline-block;
    color: hsl(225, 100%, 60%);
    margin-top: 80px;
}

/* Set the nav-bar and it's child elements to be fixed at the top of the page. */
#nav-bar {
    position: fixed;
    top: 0px;
    right: 0px;
    text-align: right;
    font-weight: 800;
    color: 	hsl(240, 100%, 30%);
    background-color: rgba(255, 255, 255, 1);
}

nav ul {
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
}

/* 
    By default, the nav elements are displayed as an unordered list.  Set them to be displayed side by side. 
*/
nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: inherit;
}

/* Style the main section of the page. */
main {
    margin: auto;
    text-align: center;
}

/* 
    The main section of the page is further divided into 3 sections for the product's features, pricing, and contact information. 
*/
section {
    margin-bottom: 30px;
    margin-top: 30px;
}

/* The heading for sections in main */
h2 {
    color: hsl(240, 100%, 80%);
}

/* Each of the feature divisions in the features section has an image. */
.feature-img {
    width: 100%;
    height: auto;
}

#description {
    color: 	hsl(240, 100%, 30%);
}

.feature-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row-left h2 {
    font-weight: 100;
}

#pricing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pricing-info {
    margin: 10px;
    height: 200px;
    width: 200px;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border: 1px solid black;
}

#contact {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

#form {
    margin: auto;
    text-align: left;
    width: 300px;
}

#name, #email, #message, #button-area {
    width: 300px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.text-input {
    height: 30px;
}

#message {
    height: 60px;
}

#button-area {
    text-align: center;
}

#submit {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background-color: hsl(240, 100%, 80%);
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

footer {
    text-align: center;
}
/* Define the page's base layout as a Grid-View */
/* For mobile devices, there is only one column and each element occupies the whole width of the device */
[class*="col-"] {
    width: 100%;
}

/* For desktops, device the screen width into 12 columns. */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
/* 


#feature-overview {
    flex-wrap: wrap;
    text-align: center;
}




.row-left {
    text-align: left;
    width: 80%;
    min-width: 300px;
    padding-right: 45px;
    align-self: center;
}

.row-right {
    width: 20%;
    min-width: 250px;
    padding-left: 5px;
}






.footer {
    margin: 10px;
    display: inline-block;
}

@media (max-width: 570px){
    .feature-row {
        flex-wrap: wrap;
    }

    .row-left {
        width: 100%;
    }

    .row-right {
        width: 100%;
    }

    #pricing {
        flex-wrap: wrap;
    }
}

@media (max-width: 760px) {
    #pricing {
        flex-wrap: wrap;
    }
} */
